.footer{
	background: #1c1c1c;
	margin-top: 30px;
    padding: 15px 0;
    color: #b2b2b2;
    font-size: 12px;
    text-align: center;
}
.footer a{
		color:#b2b2b2;
	}
.footer span{
	margin-left: 10px;
}
.footer a:hover{
	color:#fff;
}